@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    /* padding-left: ;
    padding-right: ;
    padding-top: ; */
    background-color: #9b8a46fd;
    transition: 1s;
    /* O transition serve pra caso aja alguma mudança nos valores do body, ele da uma "duração" a mudança de valor, pra dar um efeito mais leve */

}

.menu a li:hover {
    background-color: #f1c40f;
    transition: 0.3s;
}

.menu a li {
    display: inline-flex;
    margin: 10px;
    border: 2px solid #f1c40f;
    padding: 12px 19px;
    border-radius: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Asap';
}

ul {
    padding-top: 10px;
    background-color: #111;
    padding: 10px;
}

nav {
    background-color: #111;
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: #111;
    padding-top: 40px;
}

.cabecalho-logo {
    height: 200px;
    width: 200px;
    padding-right: 1350px;
    padding-bottom: 10px;
}

.cabecalho h1 {
    padding: 10px;
    margin: 60px;
    text-align: center;
    position: absolute;
    background-color: #f1c40f;
    border-radius: 20px;
    font-family: 'Oleo Script', cursive;
}

nav  {
    justify-content: center;
    display: flex;
}

.tabela-filme {
    width: 53%;
    margin: 0 auto;
    background-color: #f1c40f;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabela-filme table {
    margin: 0 auto;
    font-size: 30px;
}

table td {
    padding: 7px;
}

.ata {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.especial {
    text-align: left;
    font-family: 'Koulen', cursive;
}

.tristeza {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    width: 300px;
    font-family: 'Oswald', sans-serif;
    color: #00a202;
    font-weight: bolder;
    background-color: black;
    border-radius: 15px;
}

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

.rodape-logo {
    height: 200px;
    padding-bottom: 10px;
}

.rodape p {
    padding: 5px;
    font-family: 'Zen Loop', cursive;
}

.rodape div {
    align-items: center;
    font-size: 30px;
}