@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
/* Eu gosto muito de usar as fontes do Google, facilita muito minha vida :P */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Box-Sizing é pra respeitar a largura do monitor 👍 */
}

/* html {
    scroll-behavior: smooth;
} */

body {
    /* padding-left: ;
    padding-right: ;
    padding-top: ; */
    background: linear-gradient(30.15deg, rgb(87, 86, 86) 26.62%, #f1c40f 75.61%);
    transition: 1s;
    /* O transition serve pra caso aja alguma mudança nos valores do body, ele da uma "duração" a mudança de valor, pra dar um efeito mais leve */

}

.menu a li:hover {
    background-color: #f1c40f;
    transition: 0.3s;
}

.menu a li {
    display: inline-flex;
    margin: 10px;
    border: 2px solid #f1c40f;
    padding: 12px 19px;
    border-radius: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Asap';
}

ul {
    padding-top: 10px;
    background-color: #111;
    padding: 10px;
}

nav {
    background-color: #111;
}

.cabecalho {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #111;
    height: 200px;
}

.cabecalho-logo {
    width: 200px;
    position: absolute;
    /* Position absolute pra fazer outros elementos dentro da div ignorarem a colisão com a imagem */
    left: 50px;
    top: 60%;
    transform: translateY(-50%);
    /* Movimenta algo usando o sistema cartesiano refente ao eixo X e Y dentro da div */
}

.cabecalho-letreiro {
    padding: 10px;
    text-align: center;
    background-color: #f1c40f;
    border-radius: 20px;
    font-family: 'Oleo Script', cursive, 'Arial', Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.cabecalho-box {
    position: relative;
    width: 1000px;
}

nav {
    justify-content: center;
    display: flex;
}

.letras {
    background-color: rgba(241, 196, 15, 1.0);
    border-radius: 50px;
    width: 500px;
    height: 70px;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px black;
}

.letras {
    font-family: 'Arial', Helvetica, sans-serif;
}

.conteudo {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-gap: 15%;
    gap: 9%;
    grid-template-columns: 35% 50%;
    margin-top: 3%;
    margin-bottom: 7%;
    transition: 0.5s;
}

.filme-capa {
    display: grid;
    aspect-ratio: 1/1;
    /* Aspect Ratio é a proporção do quadrado, 1/1 seria um quadrado e a imagem não fica distorcida */
    place-items: center;
    width: 100%;
}

.filme-capa-imagem img {
    display: block;
    object-fit: cover;
    width: 100%;
    width: 370px;
    border-radius: 8px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.filme-capa-strong-orange {
    box-shadow: 10px 10px 8px rgba(253, 137, 5, 0.884);
}

.filme-capa-orange {
    box-shadow: 10px 10px 8px rgba(253, 174, 5, 0.884);
}

.filme-capa-yellow {
    box-shadow: 10px 10px 8px rgba(241, 196, 15, 1.0);
}

.filme-capa-imagem img:hover {
    opacity: 1.5;
    cursor: pointer;
    box-shadow: 0px 0px 25px black;
    transform: scale(1.1);
}

.filme-resumo h2 {
    display: grid;
    grid-template-columns: 1fr;
    color: black;
    border-radius: 15%;
    margin-bottom: 5px;
    height: 5%;
    font-size: 55px;
    font-family: 'Bebas Neue', cursive, 'Arial', Helvetica, sans-serif;
}

.link-titulo {
    text-decoration: none;
}

.filme-titulo {
    display: flex;
    padding: 10px 15px;
    background-color: rgba(241, 196, 15, 1.0);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    transition: 0.3s;
    transition-timing-function: ease-in-out 0.3s;
    box-shadow: 0px 0px 3px 4px black;
}

.filme-titulo:hover {
    background-color: rgba(241, 196, 15, 1);
    box-shadow: 0px 0px 3px 4px white;
    color: white;
}

.filme-resumo p {
    margin-top: 30px;
    background-color: #f1c40f;
    padding: 30px;
    font-size: 35px;
    border-radius: 12px;
    font-family: 'Asap', cursive, Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 3px 4px black;
}

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

.rodape-logo {
    height: 200px;
    padding-bottom: 10px;
}

.rodape p {
    padding: 5px;
    font-family: 'Zen Loop', cursive, 'Arial', Helvetica, sans-serif;
}

.rodape div {
    align-items: center;
    font-size: 30px;
}

/* SEÇÃO RESPONSIVA DO SITE */

/* Serve pra setar uma média responsiva pra um tamanho de monitor específico */

@media screen and (max-width:1600px) {
    .cabecalho-logo {
        position: initial;
        transform: none;
    }

    .cabecalho-box {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .conteudo {
        gap: 20%;
    }

    .filme-capa-imagem img {
        width: 430px;
    }

    .filme-resumo p {
        font-size: 32px;
    }
}

@media screen and (max-width: 1150px) {
    .cabecalho-letreiro {
        font-size: 28px;
        width: 850px;
    }

    .conteudo {
        gap: 23%;
    }

    .filme-resumo p {
        font-size: 30px;
    }

    .filme-resumo h2 {
        font-size: 45px;
    }

}

@media screen and (max-width: 1070px) {
    .filme-capa-imagem img {
        width: 380px;
    }

    .cabecalho-box {
        margin-right: 20px;
    }

    .letras {
        font-size: 27px;
        width: 415px;
    }

    .cabecalho-letreiro {
        font-size: 25px;
        width: 730px;
    }
}

@media screen and (max-width: 950px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho-logo {
        margin: 0 auto;
        padding-top: 30px;
    }

    .cabecalho-box {
        width: 100%;
    }

    .cabecalho-letreiro {
        position: initial;
        transform: none;
        margin: 0 auto;
        font-size: 20px;
    }

    nav {
        padding-top: 30px;
    }

    .conteudo {
        gap: 25%;
    }

    .filme-resumo {
        width: 100%;
        margin-right: 50px;
    }

    .filme-resumo p {
        font-size: 27px;
    }

    .filme-resumo h2 {
        font-size: 40px;
    }

}

@media screen and (max-width: 900px) {
    .conteudo {
        display: block;
    }

    .cabecalho-letreiro {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .filme-capa {
        margin-bottom: 30px;
    }

    .cabecalho-logo {
        width: 140px;
    }
}

@media screen and (max-width: 500px) {
    .filme-capa-imagem img {
        width: 360px;
    }

    .conteudo {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .cabecalho-letreiro {
        font-size: 15px;
    }

    .letras {
        font-size: 20px;
        width: calc(100% - 30px);
    }

    .filme-capa-imagem img {
        width: 250px;
    }

    .filme-resumo h2 {
        font-size: 30px;
    }

    .filme-resumo p {
        font-size: 25px
    }
}